{% extends "video_post/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.creator.profile.image.url }}" alt="image">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.creator %}">{{ object.creator }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.creator == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>

          <hr>
          <form action="{% url 'like-post' object.pk %}" method="POST">
              {% if request.user.is_authenticated %}
              {% csrf_token %}
              {% if request.user in object.likes.all %}
              <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Like</button>
              - {{ total_likes }} Likes
              {% else %}
              <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-white btn-sm">Like</button>
              - {{ total_likes }} Likes
              {% endif %}
          </form>
          <br>
           <form action="{% url 'dislike-post' object.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in object.dislikes.all %}
              <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-primary btn-sm">Dislike</button>
              - {{ total_dislikes }} Dislikes
              {% else %}
              <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-white btn-sm">Dislike</button>
              - {{ total_dislikes }} Dislikes
              {% endif %}
              {% endif %}
          </form>
        </div>
    </article>
{% endblock content %}
