{% extends "video_post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </small>
                <br>
                <br>
                <h3>Or</h3>
                <em style='font-size:28px'>Login with Microsoft</em>
                <br>
                <a href="http://localhost:8000/microsoft/to-auth-redirect/" class='fab fa-microsoft' style='font-size:36px'></a>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}